RewriteEngine On
RewriteRule ^login/?$ lw11/login.php [L,QSA]
RewriteRule ^home/?$ lw11/home.php [L,QSA]
RewriteRule ^profile/?$ lw11/profile.php [L,QSA]
RewriteRule ^create/?$ lw11/create.php [L,QSA]
