.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image {
    position: relative;
}

.header {
    position: absolute;
    left: -20%;
    top: -35%;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.form {
    width: 343px;
    margin-left: 140px;
}

.form__item {
    margin-bottom: 16px;
    position: relative;
}

.form__label {
    display: block;
    color: #222222;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
}

.form__input {
    display: block;
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 10px;
    background-color: #F2F3F5;
    padding: 13px 45px 13px 12px;
}

.form__small {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
}

.form__hint {
    color: #808080;
}

.password-button {
    position: absolute;
    right: 12px;
    top: 30px;
}

.form__button {
    display: block;
    width: 100%;
    height: 48px;
    background-color: #222222;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}